// classes go here
.quote-container {
  position: relative;   // must set container div to relative or it won't work
}

.centered {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

//id goes here
#fadeout-alert {
    padding: 20px;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

#closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}
